

<div class="row">
    <div class="d-flex p-2 justify-content-center">
        <img class="img mr-2" style="width:35px;height:35px;" src="~/res/icon.jpeg" alt="Logo">
        <h2 class="text-truncate">Bienvenido</h2>
    </div>
    <div class="w-100 my-4"></div>
    <div class="d-flex flex-column align-items-center">
        <div class="p-2">
            <form action="VerPaquetes" method="POST">
                <button type="submit" class="btn btn-primary mr-1" style="width:300px;">Ver paquetess</button>
            </form>
        </div>
        <div class="p-2">
            <form action="VerPaquetes" method="POST">
                <button type="submit" class="btn btn-primary mr-1" style="width:300px;">Modificar reservacion</button>
            </form>
        </div>
        <div class="p-2">
            <form action="VerPaquetes" method="POST">
                <button type="submit" class="btn btn-primary mr-1" style="width:300px;">Historial de reservaciones</button>
            </form>
        </div>
    </div>
</div>